{% extends 'base.html.twig' %}
{% block title %}New Post{% endblock %}

{% block body %}
{# templates/contact/new.html.twig #}
 <h1 align="center">Create a new Post</h1>

    {{ include('blog/_form.html.twig') }}

{% endblock %}